config ZMK_BEHAVIOR_TAPITHIUM_MODS
    bool
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_TAPITHIUM_MODS_ENABLED

if ZMK_BEHAVIOR_TAPITHIUM_MODS

endif #ZMK_BEHAVIOR_TAPITHIUM_MODS

config ZMK_BEHAVIOR_POSITION_REPEAT
    bool
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_POSITION_REPEAT_ENABLED

if ZMK_BEHAVIOR_POSITION_REPEAT

config ZMK_BEHAVIOR_POSITION_REPEAT_MAX_BINDINGS_HELD
    int
    help "Number of instances of the binding key that can be held, without the binding being ignored."
    default 10


endif #ZMK_BEHAVIOR_POSITION_REPEAT
